Data Preprocessing

In [17]:
import pandas as pd

data = pd.read_csv("rawData.csv", delim_whitespace=True, header=None, names=["Age", "Salary", "City"])

df = data.copy()

df

C:\Users\Ishfaq\AppData\Local\Temp\ipykernel_11980\484614383.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv("rawData.csv", delim_whitespace=True, header=None, names=["Age", "Salary", "City"])

   Age  Salary     City
0  Age  Salary     City
1   25   50000    Delhi
2  NaN   90000   Mumbai
3   45     NaN    Delhi
4  200   -5000  Kashmir
5   30   60000   Mumbai
6   35   70000      NaN

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop("Salary", axis=1)
y = df["Salary"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [32]:
numerical_cols = ["Age"]
categorical_cols = ["City"]
print(numerical_cols)
print(X_train[numerical_cols].dtypes)
X_train["Age"] = pd.to_numeric(X_train["Age"], errors="coerce")
X_test["Age"] = pd.to_numeric(X_test["Age"], errors="coerce")

['Age']
Age    float64
dtype: object

In [24]:
from sklearn.impute import SimpleImputer

num_imputer = SimpleImputer(strategy="median")

X_train[numerical_cols] = num_imputer.fit_transform(
    X_train[numerical_cols]
)

X_test[numerical_cols] = num_imputer.transform(
    X_test[numerical_cols]
)

In [25]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False, handle_unknown="ignore")

encoded_train = encoder.fit_transform(X_train[categorical_cols])
encoded_test = encoder.transform(X_test[categorical_cols])

In [26]:
import numpy as np

X_train_final = np.hstack([
    X_train[numerical_cols].values,
    encoded_train
])

X_test_final = np.hstack([
    X_test[numerical_cols].values,
    encoded_test
])

In [27]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_final = scaler.fit_transform(X_train_final)
X_test_final = scaler.transform(X_test_final)

In [28]:
print("Processed training features:")
print(X_train_final)
print("Processed testing features:")
print(X_test_final)
print("Processed training labels:")
print(y_train.values)
print("Processed testing labels:")
print(y_test.values)
print("After handling missing data:")
print(df)

Processed training features:
[[-0.61357199 -0.5        -0.5         1.22474487 -0.5       ]
 [-0.46017899 -0.5        -0.5         1.22474487 -0.5       ]
 [ 1.99410897 -0.5         2.         -0.81649658 -0.5       ]
 [-0.38348249  2.         -0.5        -0.81649658 -0.5       ]
 [-0.53687549 -0.5        -0.5        -0.81649658  2.        ]]
Processed testing features:
[[-0.46017899 -0.5        -0.5        -0.81649658 -0.5       ]
 [-0.69026849  2.         -0.5        -0.81649658 -0.5       ]]
Processed training labels:
['60000' '90000' '-5000' nan '70000']
Processed testing labels:
['Salary' '50000']
After handling missing data:
   Age  Salary     City
0  Age  Salary     City
1   25   50000    Delhi
2  NaN   90000   Mumbai
3   45     NaN    Delhi
4  200   -5000  Kashmir
5   30   60000   Mumbai
6   35   70000      NaN

In [33]:
import pandas as pd

df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [34]:
df['Salary'].fillna(df['Salary'].median(), inplace=True)

df['Salary'] = df['Salary'].apply(lambda x: x if x >= 0 else df['Salary'].mean())

df['Age'].fillna(df['Age'].median(), inplace=True)

print("After handling missing data:")
print(df)

After handling missing data:
     Age   Salary     City
0   35.0  60000.0     City
1   25.0  50000.0    Delhi
2   35.0  90000.0   Mumbai
3   45.0  60000.0    Delhi
4  200.0  55000.0  Kashmir
5   30.0  60000.0   Mumbai
6   35.0  70000.0      NaN

C:\Users\Ishfaq\AppData\Local\Temp\ipykernel_11980\4001297326.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)
C:\Users\Ishfaq\AppData\Local\Temp\ipykernel_11980\4001297326.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)